<div class="container justify-content-center align-items-start d-flex p-5">
  <div class="card mr-5" style="width: 20rem;">
    <img class="card-img-top" src="<%= @user.avatar_url %>" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"><%= @user.name %></h4>
      <p class="card-text"><%= @user.bio %></p>
      <p class="card-text">
        <b>Email:</b>
        <% if  @user.email %>
          <%= @user.email %>
        <% else %>
           Not Available
        <% end %>
      </p>
      <p class="card-text"><%= @user.location %></p>
      <a href="<%= @user.html_url %>" class="card-link">Github Profile</a>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-between w-50">
    <div class="card mb-5">
      <div class="card-header">
        Contributions
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <div class="card-body">
              <h2 class="card-title">
                <% if @user.total_private_repos %>
                  <%= @user.total_private_repos %>
                <% else %>
                  0
                <% end %>
              </h2>
              <p class="card-text">Number of private repos</p>
            </div>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h2 class="card-title">
                <% if @user.total_public_repos %>
                  <%= @user.total_public_repos %>
                <% else %>
                  0
                <% end %>
              </h2>
              <p class="card-text">Number of public repos </p>
            </div>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h2 class="card-title">
                <% if @user.collaborators %>
                  <%= @user.collaborator %>
                <% else %>
                  0
                <% end %>
              </h2>
              <p class="card-text">Collaborations</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        Reputation
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <div class="card-body">
              <h2 class="card-title"><%= @user.following %></h2>
              <p class="card-text">Following</p>
            </div>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h2 class="card-title"><%= @user.followers %></h2>
              <p class="card-text">Followers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>