<div class="container justify-content-center align-items-start d-flex p-5">
  <div class="card mr-5" style="width: 20rem;">
    <img class="card-img-top" src="<%= @user.avatar_url %>" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title"><%= @user.name %></h4>
      <p class="card-text"><b>Bio: </b><%= @user.bio %></p>
      <p class="card-text">
        <b>Email:</b>
        <% if  @user.email %>
          <%= @user.email %>
        <% else %>
           Not Available
        <% end %>
      </p>
      <p class="card-text"><b>Location:</b> <%= @user.location %></p>
      <p><b>Github Profile: </b><%= link_to @user['name'], @user['html_url'] %><p>
      <%= button_to "Delete Account",'/deactivate', method: :delete, class: "btn btn-outline-danger my-2 my-sm-0" %>
    </div>
  </div>
  <div class="d-flex flex-column justify-content-between w-50">
    <div class="card mb-5">
      <div class="card-header">
        Contributions
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <div class="card-body">
              <h2 class="card-title">
                <%= @user.total_private_repos || 0 %>
              </h2>
              <p class="card-text">Number of private repos</p>
            </div>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h2 class="card-title">  
                <%= @user.total_public_repos || 0 %>
              </h2>
              <p class="card-text">Number of public repos </p>
            </div>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h2 class="card-title">
                <%= @user.collaborators || 0 %>
              </h2>
              <p class="card-text">Collaborations</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-header">
        Reputation
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-4">
            <div class="card-body">
              <h2 class="card-title"><%= @user.following %></h2>
              <p class="card-text">Following</p>
            </div>
          </div>
          <div class="col-4">
            <div class="card-body">
              <h2 class="card-title"><%= @user.followers %></h2>
              <p class="card-text">Followers</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h4 class="card-title">Most Recent Searches</h4>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <p><b>Follower</b><p>
            </li>
            <li class="list-group-item">
              <p><b>Following</b><p>
            </li>
            <li class="list-group-item">
              <p><b>Follower</b><p>
            </li>
            <li class="list-group-item">
              <p><b>Following</b><p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>