<div class="container justify-content-center align-items-start d-flex p-5">
  <div class="card mr-5" style="width: 23rem;">
    <%= image_tag(@user['avatar_url'], class: "card-img-top", alt: "Card image cap") %>
    <div class="card-body" style="font-size: 13px">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <p class="card-text"><b>Name:</b> <%= @user['login'] %></p>
        </li>
        <li class="list-group-item">
          <p class="card-text">
            <b>Email:</b>
            <%= @user['email'] || 'Not Available' %>
          </p>
        </li>
        <li class="list-group-item">
          <p class="card-text">
            <b>Bio:</b>
            <%= @user['bio'] || 'Not Available'%>
          </p>
        </li>
        <li class="list-group-item">
          <p class="card-text"><b>Location:</b> <%= @user['location'] || 'Not Available'  %></p>
        </li>
        <li class="list-group-item">
          <p><b>Github Profile: </b><%= link_to @user['name'], @user['html_url'] %><p>
        </li>
        <li class="list-group-item">
          <p><b>Followers: </b><%= @user['followers'] %><p>
        </li>
        <li class="list-group-item">
          <p><b>Following: </b><%= @user['following'] %><p>
        </li>
      </ul>
      
    </div>
  </div>
</div>